:root{
	--backgroundColor: #8158af;
    --mainColor:#9e76ca;
	--secondaryColor:#5a2691;

	--borderColor:#000000;

	--mainText:black;
	--secondaryText:#4b5156;

	--themeDotBorder:#24292e;

	--previewBg:rgb(251, 249, 243, 0.8);
	--previewShadow:#f0ead6;

	--buttonColor:black;

}

html, body{
    scroll-behavior: smooth;
}

#main {
    width: 100%;
    height: 100%;
}

#app {
    width: 80%;
    height: 80%;
}

#header {
    width: 100px;
    height: 100px;
}

#userProfCard {
    max-width: 500px;
    min-width: 100px;
    height: 100px;
}

#content {
    max-width: 80%;
    min-width: 70%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}